/**
 * Font Face Declarations
 * 
 * Public Sans variable font loading
 */

@font-face {
  font-family: 'Public Sans';
  src: url('../../assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../../assets/fonts/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Fallback fonts for browsers that don't support variable fonts */
@font-face {
  font-family: 'Public Sans';
  src: url('../../assets/fonts/static/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../../assets/fonts/static/PublicSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
